* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fff;
    scroll-behavior: smooth;
}

button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: bold;
    color: #000;
    background-color: rgb(255, 194, 0);
    border: none !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0%;
    cursor: pointer;
    outline: none !important;
}

button:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 24px;
}

.container {
    width: 100vw;
    height: max-content;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 150px;
    width: 100%;
    height: 100vh;
    background-image: url(img/home.png);
    background-size: cover;
    background-position: center;
    /* padding: 10px; */
}

.topbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    background-color: rgb(255, 194, 0);
}

.topbar .logo img {
    width: 150px;
    margin: auto auto auto 30px;


}

.topbar .logo {
    width: fit-content;
}

.topbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.topbar a{
    text-decoration: none !important;
    color: #fff;
    margin: auto 50px;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #ff2626;
}
/* .topbar .search {
    width: 100px;
} */
.topbar .search{
    margin: 0 50px;
}
.topbar .search img{
    width: 24px;
}

.content-home {
    /* text-align: left; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-right: 200px;
    gap: 20px;
}

.togle {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 28px;
}

.togle input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.togle span {
    display: block;
    width: 100%;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    transition: 0.8s;
}

.togle input:checked~span:nth-child(2) {
    transform: rotate(45deg) scale(1.25) translate(-1px, 01px);
    transform-origin: 0 0;
}

.togle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

.togle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) scale(1.25) translate(-1px, 0px);
    transform-origin: 0 100%;
}

.content-home h1,
.content3 h1,
.content5 h1,
.section4 h1 {
    color: rgb(255, 194, 0);
}

.content-home p {
    color: rgb(225, 225, 225);
    text-align: justify;
}

.section2 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.img-second {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.img-second span {
    width: 400px;
}

.img-second img {
    border-radius: 50%;
    width: 230px;
}

.section3 {
    width: 100%;
    height: 100vh;
    background-image: url(img/section3.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section3 img,
.section5 img {
    border-radius: 50%;
    width: 400px;
}

.content3,
.content5 {
    color: rgb(225, 225, 225);
    width: 600px;
}

.section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
    height: 100vh;
    width: 100%;
    background-image: url(img/section4.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(225, 225, 225);
}

.info {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.info span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 10px;
    border: 3px solid #fff;
    border-radius: 50%;
}

.info span a {
    font-size: 24px;
    color: rgb(255, 194, 0);
}

.section5 {
    width: 100%;
    height: 100vh;
    background-image: url(img/section5.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(img/section6.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.content6 {
    padding: 50px;
}

.section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    width: 100%;
    background-image: url(img/section7.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.section7 input {
    text-align: center;
    height: 30px;
    width: 400px;
    padding: 7px;
    margin-right: -5px;
    border: none;
}

.section7 input,
.section7 button {
    box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.3);
}

.section8 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    height: 100vh;
    width: 100%;
    background-image: url(img/section8.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(225, 225, 225);
}

.sosmed img {
    width: 50px;
    margin: 20px 10px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* tablet */
@media screen and (max-width: 820px) {
    .home {
        align-items: center;
        /* justify-content: center; */
        background-position: left center;
    }

    .topbar {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .topbar .logo {
        width: 200px;
    }

    .topbar a {
        margin: auto auto auto 25px;
    }

    .content-home {
        justify-content: center;
        align-items: center;
        ;
        /* text-align: center; */
        margin-right: 0;
        /* margin-top: -150px; */
        background-color: #515151a0;
        padding: 10px;

    }

    .section2 {
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .section3 {
        flex-direction: column;
        justify-content: space-evenly;
    }

    .section3 img,
    .section5 img {
        width: 600px;
    }

    .section4 {
        margin-bottom: -1px;
    }

    .info {
        flex-wrap: wrap;
        justify-content: center;
        width: 600px;
        gap: 50px;
    }

    .info span {
        width: 200px;
        height: 200px;
    }

    .section5 {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;
        gap: 25px;
    }

    .content5 {
        order: 1;
        padding: 5px;
        /* padding-bottom: 100px; */
        background-color: rgba(48, 48, 48, 0.788);
    }

    .content6,
    content7 {
        padding: 25px;
    }

    .section8 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:576px) {
    .container {
        text-align: center;
    }

    .home {
        align-items: center;
        /* justify-content: center; */
        background-position: left center;
    }

    .topbar {
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: max-content;
    }

    .topbar .logo img {
        width: 100px;
        margin: auto;
    }

    .topbar .togle {
        display: flex;
        z-index: 2;
    }

    .topbar ul {
        align-items: center;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        width: 40%;
        background-color: rgba(255, 196, 0, 0.79);
        justify-content: space-evenly;
        transform: translateX(100%);
        transition: all 1s;
    }

    .topbar ul.slide {
        transform: translateX(0);
    }

    .content-home {
        justify-content: center;
        align-items: center;
        ;
        /* text-align: center; */
        margin-right: 0;
        /* margin-top: -150px; */
        background-color: #515151a0;
        padding: 10px;
    }

    .content-home h1 {
        font-size: 50px;
    }

    .section2 {
        height: max-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .content2,
    .content5,
    .content6,
    .content7,
    .sosmed {
        width: 300px;
    }

    .img-second {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-second span {
        width: 200px;
        padding-bottom: 50px;
    }

    .section3 {
        flex-direction: column;
        justify-content: center;
        margin-bottom: -1px;
    }

    .content3 {
        padding-bottom: 50px;
    }

    .section3 img,
    .section5 img {
        width: 300px;
    }

    .content3,
    .content5,
    .content-home {
        text-align: center;
        width: 300px;
    }

    .section4 {
        margin-bottom: -1px;
    }

    .content4 {
        width: 300px;
    }

    .info {
        flex-wrap: wrap;
        justify-content: center;
        width: 300px;
    }

    .info span {
        width: 100px;
        height: 100px;
    }

    .section5 {
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 20px; */
    }

    .content5 {
        order: 1;
        padding-bottom: 100px;
    }

    .content5 p {
        padding: 5px;
    }

    .section7 input {

        width: 300px;
    }

    .section8 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sosmed,
    .ASO {
        padding: 50px auto;
    }
}